#connn{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#container{
    display: flex;
}

.item{
    height: 300px;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    flex-wrap:wrap;
    margin:15px 10px;
}
@media (min-width:1000px) {
    .item{

        max-width: 707px;  
    }
}
.item .itemimage{
    width: 100%;
    height: 200px;
}
.item .name,.description,.price{
    margin:5px;
}
.dropdown-menu.show{
    height: 150px;
}
.dropdown-menu input{
    max-width: 150px;
    margin-left: 4px;
    margin-bottom: 10px;
}
.srcbtn{
    float:right;
    margin-right: 5px;
}

.showmore{
    float:right;
    margin-right: 20px;
    color:#0d6efd;
    cursor: pointer;
    text-decoration: underline;
}
.showmore:hover{
    color:#4a8df2;
}
body{
    padding-bottom: 50px;
}